repos:
-   repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
    -   id: black

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: flake8
        args: [--max-line-length=120]
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
    -   id: isort

-   repo: https://github.com/asottile/pyupgrade
    rev: v1.22.1
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
