#!/usr/bin/make -f
# Check for DISTRIB_ID in /etc/lsb-release. Ignore Errors. Empty on Debian,
# contains Ubuntu on Ubuntu systems
DISTRO := $(shell sed -n 's/DISTRIB_ID=\(.*\)/\1/p' /etc/lsb-release 2>/dev/null)

ifeq ($(DISTRO), Ubuntu)
SUGGESTS := mplayer-nogui | mplayer, alac-decoder
else
RECOMMENDS := mplayer
endif

build:

clean:
	dh_testdir
	dh_testroot
	dh_clean

install: 
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_install dir2ogg usr/bin

# Architecture Independent
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs README
	dh_installchangelogs NEWS
	dh_installman dir2ogg.1
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol -- -Vdistro:Recommends="$(RECOMMENDS)"  -Vdistro:Suggests="$(SUGGESTS)"
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
